---
layout: default
title: Calendar
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback | Culturals IITH</title>

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
        integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
    <!-- <link rel="stylesheet" href="css/footer.css"> -->
    <link rel="stylesheet" href="css/main.css">

    <script src="https://use.fontawesome.com/4a90801464.js"></script>



    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
      {% include club_nav.html %}
    <!-- Description -->
    <div class="container">
    <br/>
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12">
          <div class="text-center justify-content-center">
            <!--Feedback form-->
            <h4>Student Activitites Calendar</h4>
            <div class="col-md-12 d-flex justify-content-center" id="contact_us" style="padding: 0px 10px;">
              <iframe src="https://calendar.google.com/calendar/b/3/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FKolkata&amp;src=c3R1ZGd5bUBpaXRoLmFjLmlu&amp;src=c2NpdGVjaF9zZWN5QGd5bWtoYW5hLmlpdGguYWMuaW4&amp;src=aWl0aC5hYy5pbl8xZWg1dmUxb2tlZ3MzOXBrdGUyNm5qZ3Flb0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&amp;src=Y3VsdF9zZWN5QGd5bWtoYW5hLmlpdGguYWMuaW4&amp;src=ZW4uaW5kaWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23D50000&amp;color=%234285F4&amp;color=%233F51B5&amp;color=%23F6BF26&amp;color=%23009688" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>                
          </div>
      </div>
    </div>
    <br/>
    <br/>
</div>
  {% include footer.html %}
</body>

</html>

