--- 
layout: default
title: Cultural Council
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home | Culturals IITH</title>

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
        integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
    <!-- <link rel="stylesheet" href="css/footer.css"> -->
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/navbar.css">

    <script src="https://use.fontawesome.com/4a90801464.js"></script>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap" rel="stylesheet">



</head>

<body>
  {%include home_page_nav.html%}
  <!-- Description -->
  <!-- Gallery -->
  <!-- Teams -->
  <div class="container" id="bodytext" style="padding-top: 20px;">
    <div class="row justify-content-center">
      <div class="col-12">  
        <div style="width: 90%; height: 60%; position: relative; padding-bottom: 56.25%; margin: auto;"><iframe src="https://www.youtube.com/embed/NLCQQi-noGY?rel=0" style="top: 0; left: 0; width: 100%; height: 100%; position: absolute; border: 0;" allowfullscreen scrolling="no" allow="accelerometer *; clipboard-write *; encrypted-media *; gyroscope *; picture-in-picture"></iframe></div>
      </div>
      <div class="col-12 col-md">
        <div>
          <h2 class="display-4 text-center" style="padding-top: 10px;">Cultural Council, IIT Hyderabad</h2>
          <p class="lead-text">
            We are a bunch of motivated individuals who believe that a college should have its equal share of fun & frolic along with the case studies.
            Ours is an attempt to capture the vibrant persona of the students by offering them a platform to showcase their inner musicians, dancers, actors, painters, writers, photographers and dreamers.
            <br>
            We as a cultural team are responsible for keeping the spirits alive on the campus by organizing multitude of cultural activities round the year. Be it celebration of almost every festival or frequent open air jamming sessions we make sure that every event last in your memory for a lifetime. 
            It requires a lot of effort and planning to organize events on this scale which needs a strong, dedicated and united team with multitude of skills selection of which is a big responsibility on our part and require access to best of the students available. 
            A sneak peak of what we do round the year.
          </p>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
 {% include footer.html %}
</body>

</html>
