<!-- Header -->
<div class="entire-page">
    <div class="topnav" id="myTopnav" style="z-index: 10000000000;">
        <a href="/" class="active-alpha"><img src="../img/culti_logo.png" alt=""></a>
        <a href="/" class="hoverit">Home</a>
        <div class="dropdown-alpha">
            <button class="dropbtn" ><span class="hoverit">Culti Clubs</span>
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="rdm.html" style="font-size:16px">Rang De Manch</a>
                <a href="vibes.html" style="font-size:16px">Vibes</a>
                <a href="shuffle.html" style="font-size:16px">Shuffle</a>
                <a href="infocus.html" style="font-size:16px">Infocus</a>
                <a href="beau.html" style="font-size:16px">Beau Monde</a>
                <a href="gesture.html" style="font-size:16px">Gesture</a>
                <a href="btl.html" style="font-size:16px">Behind the lens</a>
                <a href="literary.html" style="font-size:16px">Literary Society</a>
            </div>
        </div>
        <a href="https://theiithlexicon.wordpress.com/" class="hoverit" target="_blank">IITH Lexicon Blog</a>
        <a href="/contact" class="hoverit">Contact</a>
        <a href="javascript:void(0);" class="icon-alpha" onclick="responsiveNav()">&#9776;</a>
    </div>
    <div class="main-content">
        Cultural & Literary society
    </div>
</div>


<script>
    console.log("Nazish");
    function responsiveNav() {
        var respons = document.getElementById("myTopnav");
        if (respons.className === "topnav") {
            respons.className += " responsive";
        } else {
            respons.className = "topnav";
        }
    }

    // Sticky navigation
    window.onscroll = function () {
        stickyNav();
    };

    var navbar = document.getElementById("myTopnav");

    // Get the offset position of the navbar
    var sticky = navbar.offsetTop;
    function stickyNav() {
        if (window.pageYOffset > sticky) {
            navbar.classList.add("sticky");
        } else {
            navbar.classList.remove("sticky");
        }
    }

</script>
